*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

td, th {
    border: 1px solid #777;
    padding: 0.5rem;
    text-align: center;
}

.createForm{
    margin: auto;
    width: fit-content;
    height: 50px;
    display: flex;
}

table {
    border-collapse: collapse;
    margin: 50px auto;
}

tbody tr:nth-child(odd) {
    background: #eee;
}


header {
    margin-bottom: 50px;
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 0 20px
}

nav ul {
    padding: 0;
    font-family: Arial, sans serif;
    font-size: 12px;
    text-transform: uppercase;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.categories{
    margin: 50px auto;
    width: fit-content;
    list-style: none
}
.categories li{
    width: fit-content;
}

.switcher{
    padding: 10px;
    display: inline-block;
    height: fit-content;
}